main {
  background-color: burlywood;
  width: 900px;
  margin: auto;
  box-shadow: 1px 1px 5px rgb(75, 24, 10);
}

body {
  background-color: blanchedalmond;
}

input {
  width: 80%;
  padding: 2%;
  margin: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgb(245, 225, 199);
  border-bottom: 5px solid rgb(75, 24, 10);
}

label {
  margin-left: 10%;
  font-size: 120%;
}

#form-title {
text-align: center;
padding-top: 5%;
}

#submit-btn{
background-color: rgb(245, 225, 199);
border: 1px solid #c5c5c5;
border-bottom: 5px solid  rgb(75, 24, 10);
border-right: 5px solid  rgb(75, 24, 10);
padding: 2%;
padding-left: 3%;
padding-right: 3%;
border-radius: 5px;
display: block;
margin: 0 auto;
margin-bottom: 10%;
}

#submit-btn:hover {
background-color: rgb(204, 182, 153);
cursor: pointer;
}

#submit-div {
  padding-bottom: 10%;
}

li{
margin-left: 15%;
list-style-type: square;
}

#done-button, #delete-button {
  background-color: burlywood;
  border-color: rgb(75, 24, 10);
  border-radius: 10px;
  margin-left: 5%;
  padding: 1%;
}

#delete-button {
  margin-left: 1%;
}

h2 {
  margin-left: 10%;
}

h3 {
  margin-left: 12%;
}

#list-prio1, #list-prio2, #list-prio3 {
  border: solid rgb(75, 24, 10);
  background-color: rgb(245, 225, 199);
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

#todo-list {
  padding-bottom: 10%;
}

@media (max-width: 1000px) {

  main {
    width: 470px;
  }
}




